/* css for header and nav bar */
header {
  background-color: black;
  overflow: auto;
  position: sticky;
  top: 0;
  padding: 10px 10px;
  transition: background-color 0.9s ease;
  z-index: 2;
}
header main {
  max-width: 1200px;
  margin: auto;
}
header div {
  float: left;
}
header nav {
  float: right;
}
header nav ul {
  display: inline-block;
  padding: 0;
}

#homeNvigation {
  color: red;
}

nav ul li {
  display: inline-block;
  padding-left: 12px;
}

li a {
  text-decoration: none;
  color: aliceblue;
  position: relative;
  font-weight: 800;
}
li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: red;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
  /* color: red; */
}
li a:hover::after {
  color: red;
  width: 100%;
}
li a:hover {
  color: red;
}
li a:active {
  color: blue;
}
li a:visited {
}

/* resume button */
header nav .resumeButtonContainer {
  padding: 6px 10px;
  float: right;
}
header nav .resumeButtonContainer button {
  background-color: black;
  border: 2px solid;
  border-radius: 18px;
  padding: 2px 10px;
  color: #ffff;
  width: 9em;
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  /* box-shadow: 1px 1px 1px #c5c5c5, -6px -6px 12px #ffffff; */
}
header nav .resumeButtonContainer button::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}
header nav .resumeButtonContainer button:hover::before {
  /* border: 1px solid red; */
  width: 9em;
}
header nav .resumeButtonContainer button:hover {
  /* border: 1px solid red; */
  transform: scale(1.05);
}
