/* css for the home route  */
.routeContainer :first-child main {
  overflow: auto;
  height: 400px;
}
.routeContainer :first-child main section {
  /* background-color: aliceblue; */
  float: left;
  width: 50%;
}
section {
  height: 100%;
}
.textInformation {
  /* text-align: center; */
  justify-content: center;
  display: flex;

  flex-direction: column;
  padding-left: 5%;
}
.textInformation h3 {
  margin: 0;
}
.nameAndCountryContainer {
  display: flex;
  flex-direction: row;
}
.nameAndCountryContainer h1 {
  padding: 5px 0;
}

/* css for linked in connt buttonnn */
div.linkedinConnect {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
div.linkedinConnect p {
  color: #ffffff;
  font-weight: 600;
  font-size: 25px;
}
div.linkedinConnect button {
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  animation: sway 2s infinite alternate;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 500px;
  transition: transform 0.5s, box-shadow 0.5s;
}

div.linkedinConnect button:hover {
  transform: scale(1.1) rotate(-360deg) translateY(-0.5em);
  box-shadow: 0 0 20px 0 rgba(29, 161, 242, 0.5);
}

.icon {
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.6));
  transition: transform 0.5s;
}

.icon:hover {
  transform: scale(5);
  filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, 0.9));
}
.imageContainerSectionTag {
}
.imageContainer {
  max-width: 350px;
  margin: auto;
}

/* animation for text */

#nameandCountry {
  color: #ffff;
  font-weight: 400;
  /* overflow: hidden; 
  white-space: nowrap; 
  border-right: 2px solid #fff; */
  /* animation: typing 15s steps(40, end) infinite, */
  /* blink-caret 0.75s step-end infinite, fade-out 2s forwards; */
}

@keyframes typing {
  0% {
    width: 0;
  }
  25% {
    width: 100%;
  }
  50% {
    width: 100%;
  }
  75% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
    /* display: none; */
  }
  100% {
    border-color: transparent;
  }
}

@keyframes fade-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
