#Contact {
  padding: 80px 0;
}
#Contact main h1 {
  padding-bottom: 20px;
}
#Contact main div {
  display: flex;
  flex-direction: row;
}
#Contact main div section {
  flex: 1;
  /* border: 1px solid; */
}
#Contact main div section:first-child {
  /* flex: 1; */
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  padding-left: 20%;
}
/* css for the form */

.form-container {
  width: 400px;
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(195deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  /* margin: auto; */
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form .inputContainer label {
  width: 70px;
}
.form .inputContainer input {
  padding: 5px;
  width: 70%;
  border-radius: 5px;
  outline: none;
  border: 4px solid rgb(251 251 66);
  transition: all 1s;
  padding: 7px 5px;
  font-size: medium;
  /* height: 7px;
   */
  /* border: 1px solid rgb(61, 32, 195); */
}
.form .inputContainer input:focus {
  border: 4px solid rgb(108, 108, 239);
}
.form .inputContainer input:active {
}

.form .inputContainer textarea {
  width: 70%;
  border-radius: 5px;
  height: 70px;
  border-radius: 5px;
  outline: none;
  border: 4px solid rgb(251 251 66);
  transition: all 1s;
}
.form .inputContainer textarea:focus {
  border: 4px solid rgb(108, 108, 239);
}
.form .submitButtionCotainer {
  justify-content: center;
}
.form .submitButtionCotainer input[type="submit"] {
  /* width: ; */
  padding: 11px 21px;
  border-radius: 9px;
  border: none;
  background-color: rgb(251 251 66);
  cursor: pointer;
  font-weight: 600;
  font-family: inherit;
}
.form .submitButtionCotainer input[type="submit"]:hover {
  background-color: rgb(108, 108, 239);
  color: #ffff;
}

a.contactDetailsLinkTagContainer {
  display: flex;
  /* justify-content: center; */
  gap: 20px;
  align-items: center;
  text-decoration: none;
  color: #ffff;
  /* border: 1px solid; */
}
a.contactDetailsLinkTagContainer :hover {
  text-decoration: underline;
  color: rgb(170, 170, 234);
}
.IconContainerr {
  width: 40px;
  height: 40px;
}
.IconContainerr img {
  width: 100%;
  height: 100%;
}

a.contactDetailsLinkTagContainer p {
  margin: 0;
}

div.SkypeLinkedSVgBaground {
  width: 28px;
  height: 30px;
  background: #ffff;
  color: red;
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 6px;
}
