#About {
}

#About main {
  max-width: 1200px;
  margin: auto;
  display: flex;
  height: 450px;
}

section.aboutSectionAnimation {
  flex: 2;
  border: 1px solid red;
}
section.aboutSectionAnimation div {
  border: 1px solid;
}

section.myselfSection {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3%;
  gap: 15px;
}
section.myselfSection h1 {
  color: rgb(224, 61, 61);
  /* padding-left: 40px; */
}

section.myselfSection p {
  color: #ffff;
  max-width: 550px;
  line-height: 25px;
  text-indent: 40px;
}
section.myselfSection p::first-letter {
  font-size: 200%;
}

.listofmyInfo ul {
  list-style: none;
  overflow: auto;
}

.listofmyInfo ul li {
}

/* hover effets on buttons or list item */

.listofmyInfo ul li {
  float: left;
  cursor: pointer;
  --color: #7d0808;
  color: yellow;
  font-family: inherit;
  padding: 3px 10px;
  font-size: large;
  font-weight: 700;
  line-height: 1.5em;
  position: relative;
  overflow: hidden;
  transition: color 0.5s;
  z-index: 1;
  border-radius: 6px;
}

.listofmyInfo ul li:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 90px;
  width: 200px;
  border-radius: 50%;
}

.listofmyInfo ul li:hover {
  /* color: #ffff !important; */
  /* border: 10px solid; */
}

.listofmyInfo ul li:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.listofmyInfo ul li:hover:before {
  top: -30px;
  left: -30px;
}

#skills {
  color: #ffff;
}
/* css for display itms  */
div#displayMySelf {
  height: 160px;
  border: 2px solid yellow;
  border-radius: 15px;
  padding-right: 10px;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #14161d 0%,
    #646264 46%,
    #520505 100%
  );
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#displayMySelf:hover {
  transform: scale(1.05);
}
.mainSlikkMERNstack {
  font-weight: 600;
  font-size: 22px;
  color: #b4ff25;
  text-shadow: 27px 14px 4px hsl(11 100% 50% / 1);
}
#displayMySelf ul li {
  color: #ffff;
}
.fade-out {
  opacity: 0.05;
}
