div#Service {
  padding: 60px 0 80px 0;
}
div#Service main h1 {
  padding-bottom: 30px;
  color: #fc2505;
}
div#Service main {
  display: flex;
  gap: 15px;
  padding: 0 10px;
  /* padding-top: 150px; */
}

/* div#Service main div {
  width: 200px;
  height: 200px;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid;
}
div#Service main div h1 {
  text-align: center;
}
div#Service main div p {
  text-align: center;
  color: #ffff;
  padding: 1px;
} */

div.serviceCardContainer {
  width: 300px;
  height: 210px;
  background-color: #4158d0;
  background-image: linear-gradient(
    40deg,
    #334ec5 0%,
    #be3833 46%,
    #a36b04 100%
  );
  border-radius: 8px;
  color: white;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
}

div.serviceCardContainer div {
  padding: 20px;
  position: relative;
  z-index: 1;
  /* display: flex; */
  flex-direction: column;
  gap: 10px;
  color: white;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 100%;
}

div.serviceCardContainer div h2 {
  /* font-size: 20px; */
  /* font-weight: 700; */
  /* color: inherit; */
  text-transform: uppercase;
}

div.serviceCardContainer div p {
  /* color: inherit; */
  line-height: 25px;
  opacity: 0.7;
  font-size: 19px;
}

div.serviceCardContainer:hover {
  transform: rotateY(10deg) rotateX(10deg) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

div.serviceCardContainer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  /* z-index: 1; */
}

div.serviceCardContainer:hover::before {
  transform: translateX(-100%);
}

div.serviceCardContainer::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
}

div.serviceCardContainer:hover:after {
  transform: translateX(100%);
}
